/**
 * Element classes
 */
div.actions {
	text-align: right;

	button {
		margin-left: 10px;
	}
}

div.errors {
	background-color: #ff0000;
	border: 2px solid #8e1717;
	border-radius: 0 10px;
	color: #ffffff;
	margin-bottom: 20px;
	max-width: 100%;
	padding: 10px;
	width: 600px;

	p {
		font-weight: bold;
	}
}

div.singlePage {
	height: 100%;
	padding: 10px;
}

p:not(:last-child) {
	margin-bottom: 10px;
}

p.error {
	color: #ff0000;
	font-weight: bold;
}

/* font-awesome icons */
i.fas, i.far {
	cursor: pointer;
}

i.fas.blue, i.far.blue {
	color: $cBlue;
}

i.fas.open, i.far.open {
	color: #28c128;
}

i.fas.red, i.far.red {
	color: $cRed;
}

i.fas:hover, i.far:hover {
	color: #000000;
}

/** Headers */
div.pageHeader {
	margin-bottom: 20px;

	p {
		font-size: 2.5rem;
		font-weight: bold;
	}

	button {
		margin-top: -10px;

		i.far, i.fas {
			font-size: 3rem;
		}
	}
}

div.sectionHeader {
	margin-bottom: 15px;

	p {
		font-size: 2rem;
		font-weight: bold;
	}

	button {
		margin-top: -10px;

		i.far, i.fas {
			font-size: 2.5rem;
		}
	}
}

@media (max-width: 600px) {
	div.pageHeader {

		p {
			font-size: 2rem;
		}

		button {

			i.far, i.fas {
				font-size: 2.5rem;
			}
		}
	}

	div.sectionHeader {

		p {
			font-size: 1.5rem;
		}

		button {

			i.far, i.fas {
				font-size: 2rem;
			}
		}
	}
}

/**
 * No Element Classes
 */
.blue {
	color: $cBlue;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.container {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 600px) {
	.container.sm {
		max-width: 600px;
	}
}

@media (min-width: 960px) {
	.container.md {
		max-width: 960px;
	}
}

.field {
	margin: 15px 0;

	.MuiInputBase-root, .MuiFormControl-root {
		width: 100%;
	}
}

.red {
	color: $cRed;
}

/**
 * Flex
 */
.flexColumns {
	display: flex;
	flex-direction: row;
}

.flexRows {
	display: flex;
	flex-direction: column;
}

.flexColumns, .flexRows {

	.flexGrow {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: auto;
	}

	.flexStatic {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

/**
 * Material UI
 */
.MuiPaper-root {
	margin-bottom: 20px;
	padding: 10px;
}

.MuiTypography-root.p {
	margin-bottom: 10px;
}

td.total {
	font-size: 1rem;
	font-weight: bold;
}

td.actions, th.actions {
	white-space: nowrap;
	width: 1px;
}