#invoice {

	hr {
		margin: 20px auto;
		width: 80%;
	}

	.header {
		margin-bottom: 20px;

		.logo {
		}

		.company {

			.name {
				font-size: 3em;
				font-weight: bold;
			}

			.address {
				font-weight: bold;
			}
		}

		.pdf {
			i {
				font-size: 3rem;
			}
		}
	}

	.details {

		.title {
			font-size: 1.75rem;
			font-weight: bold;
		}

		.client {

		}

		.invoice {
			text-align: right;
		}
	}

	.items {
		margin-top: 20px;

		thead {
			th {
				background-color: #484848;
				color: white;
				font-size: 1rem;
				font-weight: bold;
			}
		}

		tbody {
			tr.even {
				background-color: #ffffff;
			}
			tr.odd {
				background-color: #efefef;
			}
		}

		tfoot {
			td {
				font-size: 1.1rem;
				font-weight: bold;
				text-align: right;
			}
		}

		.project {
			width: 80%;
		}

		.hours, .amount {
			width: 10%;
			text-align: right;
		}

		.total {
			width: 80%;
		}
	}
}