#works {

	.filter {

		.MuiFormControl-root {
			width: 180px;
		}

		.MuiTypography-root {
			display: inline-block;
			padding: 8px 5px 0;
		}

		.MuiButtonBase-root {
			margin: 0 0 2px 15px;
		}
	}
}

#elapsed {
	bottom: 0;
	position: fixed;
}